
<--ESPN Score Example-->
<table>
    <thead>
        <tr class="sb-linescore">
            <th class="date-time">Final</th>
            <th class="score">1</th>
            <th class="score">2</th>
            <th class="score">3</th>
            <th class="score">4</th>
            <th class="total">T</th>
        </tr>
    </thead>
    <tbody id="teams">
        <tr class="away">
            <td class="away">
                <div class="img-container">
                    <a href="/college-football/team/_/id/2483" id=
                    "&amp;lpos=college-football:scoreboard:team" name=
                    "&amp;lpos=college-football:scoreboard:team"><img class="focus-image imageLoaded"
                    onerror=
                    "this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.width=1;"
                    src=
                    "http://a1.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2483.png&amp;h=70&amp;w=70"></a>
                </div>
                <div class="sb-meta">
                    <h2 class=""><span class="rank">22</span> <a href=
                    "/college-football/team/_/id/2483" id=
                    "&amp;lpos=college-football:scoreboard:team" name=
                    "&amp;lpos=college-football:scoreboard:team"><span class="sb-team-short">
                    Oregon</span> <span class=
                    "sb-team-abbrev">ORE</span></a></h2>
                    <div class="record-container">
                        <p class="record">(2-0)</p>
                        <p class="record overall">2-0</p>
                    </div>
                </div>
            </td>
            <td class="score">0</td>
            <td class="score">0</td>
            <td class="score">0</td>
            <td class="score">0</td>
            <td class="total"><span>0</span></td>
        </tr>
        <tr class="home">
            <td class="home">
                <div class="img-container">
                    <a href="/college-football/team/_/id/158" id=
                    "&amp;lpos=college-football:scoreboard:team" name=
                    "&amp;lpos=college-football:scoreboard:team"><img class="focus-image imageLoaded"
                    onerror=
                    "this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.width=1;"
                    src=
                    "http://a1.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/158.png&amp;h=70&amp;w=70"></a>
                </div>
                <div class="sb-meta">
                    <h2 class=""><a href="/college-football/team/_/id/158"
                    id="&amp;lpos=college-football:scoreboard:team" name=
                    "&amp;lpos=college-football:scoreboard:team"><span class="sb-team-short">
                    Nebraska</span> <span class=
                    "sb-team-abbrev">NEB</span></a></h2>
                    <div class="record-container">
                        <p class="record">(2-0)</p>
                        <p class="record overall">2-0</p>
                    </div>
                </div>
            </td>
            <td class="score">28</td>
            <td class="score">7</td>
            <td class="score">7</td>
            <td class="score">20</td>
            <td class="total"><span>62</span></td>
        </tr>
    </tbody>
</table>